 <!DOCTYPE html>
<html>
<body>
<h1>Cassandra Social App</h1>
<div>
	<li><a href="/newuser">Daftar User Baru</a></li>
	<li><a href="/follow">Follow User</a></li>
	<li><a href="/tweet">New Tweet</a></li>
	<li><a href="/usertweet">My Tweet</a></li>
	<li><a href="/timeline">My Timeline</a></li>
<div>
<h1>Follow User</h1>
<form action="/follow" method="POST" enctype=multipart/form-data>
  username anda:<br>
  <input type="text" name="uname"><br>
  username yang ingin difollow:<br>
  <input type="text" name="follow_uname">
  <input type="submit" value="Submit">  
</form> 
{{ status }}
</body>
</html> 